@import url('normalize.css/normalize.css');

$class-panel-background-color: red;
$main-panel-background-color: green;
$dars-panel-background-color: rgb(0 183 255);

.app {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  max-height: fill-available;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $dars-panel-background-color;
}

#classes,
#dars,
#main {
  height: 100%;
}

#classes {
  background-color: $class-panel-background-color;
  width: 20%;
}

#dars {
  background-color: $dars-panel-background-color;
}

.hide {
  width: 0;
  -webkit-transition: width, 0.4s linear;
  -moz-transition: width, 0.4s linear;
  -ms-transition: width, 0.4s linear;
  -o-transition: width, 0.4s linear;
  transition: width, 0.4s linear;
}

.visible {
  width: 30%;
  -webkit-transition: width, 0.4s linear;
  -moz-transition: width, 0.4s linear;
  -ms-transition: width, 0.4s linear;
  -o-transition: width, 0.4s linear;
  transition: width, 0.4s linear;
}

#main {
  background-color: $main-panel-background-color;
  min-width: 50%;
  max-width: 80%;
}
